name: Endor Baseline scan Master

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      # Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Endor Labs SCA Security
        uses: endorlabs/github-action@main
        with:
          namespace: tej-learn
          api: "https://api.endorlabs.com"
          scan_dependencies: true
          pr: false
          github_token: ${{ secrets.GH_PR_TOKEN }}
          scan_summary_output_type: table
